{% block content %}
    {% for post in posts %}
        <div class="infinite-item">
            {% include 'posts/card.html' with post=post %}
        </div>
    {% endfor %}
    {% if posts.has_next %}
        <a class="infinite-more-link btn btn-secondary" style="display: none;" href="?page={{ posts.next_page_number }}">More</a>
    {% endif %}
    <div class="spinner-border loading" style="width: 3rem; height: 3rem; display: none;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
{% endblock content %}
    