<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Weddit</a>
        <form class="d-flex mb-0 align-items-bottom w-50 ">
            <input class="form-control me-2 bg-dark btn-outline-light text-white" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:detail' user.nickname %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts:create' %}">create post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'settings' %}">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-dark btn-outline-light rounded-pill px-4 me-3 py-1" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-light text-dark rounded-pill px-4 py-1" href="{% url 'sign-up' %}">Sign Up</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>