<nav class="navbar navbar-light bg-light navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Weddit</a>
        <form class="d-flex mb-0 align-items-bottom w-50 ">
            <input class="form-control me-2 btn-outline" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav d-flex">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts:create' %}"><i class="fas fa-edit"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:detail' user.nickname %}"><i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'settings' %}"><i class="fas fa-cog"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt">Log out</i></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-secondary rounded-pill px-4 me-3 py-1 text-white" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-primary rounded-pill px-4 py-1 text-white" href="{% url 'sign-up' %}">Sign Up</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>