<nav class="navbar navbar-light bg-light navbar-expand-lg position-fixed w-100 top-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Weddit</a>
        <form class="d-flex mb-0 w-50 border bg-white rounded-3">
            <button class="border-0 mr-1 ml-2 text-secondary bg-white" type="submit"><i class="fas fa-search"></i></button>
            <input class="form-control border-0" type="search" placeholder="Search" aria-label="Search"/>
        </form>
        <ul class="navbar-nav d-flex">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts:create' %}"><i class="fas fa-edit"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:detail' user.nickname %}"><i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'settings' %}"><i class="fas fa-cog"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt">Log out</i></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary text-primary rounded-pill px-4 me-3 py-1" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-primary rounded-pill px-4 py-1 text-white" href="{% url 'sign-up' %}">Sign Up</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>