{% extends 'base.html' %}

{% load bootstrap4 %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="container d-flex flex-column justify-content-center align-items-center bg-light p-3 rounded-3" style="width: fit-content; height: fit-content;">
        {% block form_header %}
        {% endblock form_header %}
        <div class="w-100 my-3" style="background-color: lightgrey; height: 1px;"></div>
        <form method="POST" enctype="multipart/form-data" class="align-middle">
            {% csrf_token %}
            {% include 'mixins/form_input.html' with form=form %}
            {% block form_submit %}
            {% endblock form_submit %}
        </form>
    </div>
</div>
{% endblock content %}