<div id="post_pk_{{ post.pk }}" class="card mb-3 p-2 card-link mx-auto">
    <div class="d-flex justify-content-between">
        <div class="text-muted d-flex gap-2">
            {% if post.community.avatar %}
                <img class="border-0  p-0 rounded-circle" style="width: 1.5rem;height:1.5rem;" src="{{ post.community.avatar.url }}"/>
            {% else %}
                <div class="border-0  p-0 rounded-circle bg-secondary text-white fs-3 d-flex justify-content-center align-items-center" style="width: 1.5rem;height:1.5rem;"><span style="font-size: 1rem;">{{ post.community.name|first }}</span></div>
            {% endif %}
            <small><a class="link-secondary" href="{% url 'communities:detail' post.community.slug %}">{{ post.community.name }}</a></small>
            <small> • Posted by <a class="link-secondary" href="{% url 'user:detail' post.writer.nickname %}">{{ post.writer.nickname }}</a> {{ post.get_created_time }}</small>
        </div>
        <div>   
            <form method="post" action="{% url 'subscriptions:toggle' %}?next={{ request.get_full_path }}">
                {% csrf_token %}
                <input type="hidden" name="community_pk" value="{{ post.community.pk }}"/>
                <button class="btn {% if post.community.is_subscribed %} btn-danger {% else %} btn-primary {% endif %} rounded-pill px-2 py-0 align-baseline" type="submit">
                    <small>
                    {% if post.community.is_subscribed %}
                        <i class="fas fa-minus mx-1"></i>Drop
                    {% else %}
                        <i class="fas fa-plus mx-1"></i>Join
                    {% endif %}
                    </small>
                </button>
            </form>
        </div>
    </div>    
    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
    </div>
    <img class="mx-auto" src="{{ post.photo.url }}" style="max-width: 400px;" alt="post_photo"/>
</div>  
