{% load simple_tags %}

{% get_avatar_url_or_none object=community as community_avatar_url %}
<a class="d-block text-dark" href="{{ community.get_absolute_url }}" style="text-decoration: none;" >
  <div class="d-flex justify-content-between align-items-center"  style="box-sizing: border-box;">
    <div class="d-flex gap-2 align-items-center" style="width: 10rem;">
      {% if community_avatar_url %}
        <img src="{{ community_avatar_url }}" alt="avatar" width="2rem" height="2rem"/>
      {% else %}
        <div class="bg-secondary rounded-circle text-white d-flex justify-content-center align-items-center" style="width: 2rem; height: 2rem;"><span>{{ community.name|first }}</span></div>
      {% endif %}
      <div class="d-flex flex-column">
        <span>{{ community.name }}</span>
        <span class="text-muted" style="font-size: 0.8rem;">{{ community.get_subscriber_count }} members</span>
      </div>
    </div>
    <div style="width: 70%;">
      <span class="text-muted" style="font-size: 0.8rem;">{{ community.description }}</span>
    </div>
    <div style="width: 10rem;">
      {% if request.user.is_authenticated %}
        {% is_subscribed subscriber=request.user community=community as is_subscribed%}
        {% if not is_subscribed %}
          <form method="post" action="{% url 'subscriptions:toggle' %}?next={{ request.get_full_path }}">
            {% csrf_token %}
            <input type="hidden" name="community_pk" value="{{ community.pk }}"/>
            <button class="btn btn-primary rounded-pill px-5 py-1 align-baseline " type="submit">
              <small class="fw-bold">Join</small>
            </button>
          </form>
        {% endif %}
      {% endif %}
    </div>
  </div>
</a>