{% extends 'base.html' %}

{% block page_title %}
    {{community_obj.title}} - 
{% endblock page_title %}
    
{% block content %}
    <img src="{{ community_obj.photo.url }}" alt="community_photo" style="width: 100%; height: 14rem; object-fit:cover;"/>
    <div style="background-color: white; height: 6rem;">
        <div class="mx-auto d-flex justify-content-between position-relative" style="width:60%; padding-top: 1rem;">
            {% if community_obj.avatar %}
                <img class="position-absolute border border-5 border-white  p-0 rounded-circle" style="width: 5rem; height:5rem; top: -1rem;" src="{{ community_obj.avatar.url }}"/>
            {% else %}
                <div class="position-absolute border border-5 border-white p-0 rounded-circle bg-secondary text-white fs-3 d-flex justify-content-center align-items-center" style="width: 5rem; height:5rem; top: -1rem;"><span style="font-size: 1.5rem;">{{community_obj.name|first}}</span></div>
            {% endif %}
            <div style="width:50rem; margin-left: 5.5rem;">
                <h3>{{ community_obj.title }}</h3>
                <small class="text-muted">{{ community_obj.slug}}</small>
            </div>
            <div>
                <form method="post" action="{% url 'subscriptions:toggle' %}?next={{ request.get_full_path }}">
                    {% csrf_token %}
                    <input type="hidden" name="community_pk" value="{{ community_obj.pk }}"/>
                    <button class="px-5 py-1 btn {% if community_obj.is_subscribed %} btn-danger {% else %} btn-primary {% endif %} rounded-pill px-2 py-0 align-baseline" type="submit">
                        <small class="fw-bolder">{% if community_obj.is_subscribed %}Drop{% else %}Join{% endif %}</small>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-3 mt-3">
        <div class="infinite-container" style="max-width: 600px; width: 40rem;">
            {% for post in post_obj %}
                <div id="post_pk_{{ post.pk }}" class="card mb-3 p-2 card-link mx-auto infinite-item">
                    <div class="d-flex justify-content-between">
                        <div class="text-muted d-flex gap-2">
                            <small>Posted by <a class="link-secondary" href="{% url 'user:detail' post.writer.nickname %}">{{ post.writer.nickname }}</a> {{ post.get_created_time }}</small>
                        </div>
                    </div>    
                    <div class="card-body">
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                    <img class="mx-auto" src="{{ post.photo.url }}" style="max-width: 400px;" alt="post_photo"/>
                </div>  
            {% endfor %}
            {% if post_obj.has_next %}
                <a class="infinite-more-link btn btn-secondary" href="?page={{ post_obj.next_page_number }}">More</a>
            {% endif %}
            <div class="spinner-border loading" style="width: 3rem; height: 3rem; display: none;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="bg-light rounded-3 border" style="width: 20rem; height: fit-content;">
            <div class="btn-primary rounded-top pl-2 align-middle"  style="width: 30rem; height: 3rem; display: table-cell;">
                <span>About community</span>
            </div>
            <div class="p-3">
                <p class="fw-light">{{ community_obj.description }}</p>
                <div class="d-flex flex-column">
                    <big>{{ community_obj.get_subscriber_count }}</big>
                    <small>Members</small>
                </div>
                <div class="my-2" style="width: 100%; height: 1px; background-color:lightgray;"></div>
                <div class="fw-light my-2">
                    <i class="fas fa-birthday-cake mr-2"></i>
                    <span>Created {{ community_obj.created_at|date:'Y. m. d' }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
        $('.loading').show();
    },  
    onAfterPageLoad: function ($items) {
        $('.loading').hide();
    }
    });
  </script>
{% endblock javascript %}
    