container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py collectstatic --noinput"
    leader_only: true
  02_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py makemigrations --noinput"
    leader_only: true
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py migrate --noinput"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.production


  