container_commands:
  01_seed_users:
    command: "source /var/app/venv/*/bin/activate && python manage.py seed_users --number 20"
    leader_only: true
  02_seed_posts:
    command: "source /var/app/venv/*/bin/activate && python manage.py seed_posts --number 40"
    leader_only: true
  03_seed_comments:
    command: "source /var/app/venv/*/bin/activate && python manage.py seed_comments --number 200"
    leader_only: true
  04_seed_votes:
    command: "source /var/app/venv/*/bin/activate && python manage.py seed_votes --number 400"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.production