container_commands:
  01_seed_posts:
    command: "source /var/app/venv/*/bin/activate && python manage.py seed_posts --number 50"
    leader_only: true
  02_seed_comments:
    command: "source /var/app/venv/*/bin/activate && python manage.py seed_comments --number 100"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.production