{% extends 'mixins/form.html' %}

{% block page_title %}
    Sign up - 
{% endblock page_title %}

{% block form_header %}
    <h2 class="mb-2">Sign Up</h2>
    <h6 class="font-weight-light mb-5">By continuing, you agree to our User Agreement and Privacy Policy.</h6>
{% endblock form_header %}
{% block form_submit %}
    <div class="d-flex gap-3 align-items-center">
        <input class="btn btn-primary mt-1" type="submit" value="Sign Up">
        <div>
            <span>Already a account?</span>
            <a style="text-decoration: none;" href="{% url 'login' %}">LOG IN</a>
        </div>
    </div>
{% endblock form_submit %}
    