{% extends 'base.html' %}

{% block page_title %}
    Settings - 
{% endblock page_title %}
    
{% block content %}
    <div>
        <span>Email address</span>
        <a href="{% url 'update-email' %}">Change</a>
    </div>
    <div>
        <span>Nickname</span>
        <a href="{% url 'update-nickname' %}">Change</a>
    </div>
    <div>
        <span>Change password</span>
        <a href="{% url 'update-password' %}">Change</a>
    </div>
    <div>
        <a href="{% url 'delete-account' %}">DELETE ACCOUNT</a>
    </div>
{% endblock content %}
    